/* Réinitialisation de base */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box; /* Prendre en compte les bordures et les marges dans les dimensions */
}

/* Style de l'en-tête */
.header {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  background-image: url(inf.jpg);
  height: 700px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.header .logo img {
  border-radius: 10%;
  float: left;
}

.header h1 {
  color: rgb(163, 25, 25);
  font-size: 60px;
  padding: 60px 20px;
  animation: texte 3s 1;
  display: inline-block;
}

@keyframes texte {
  0% {
    color: black;
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 25px;
    margin-bottom: -80px;
  }
}

.header ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 30px;
  right: 20px;
}

.header ul li {
  margin-left: 10px; /* Espace entre les éléments de la liste */
}

.header ul li a {
  text-decoration: none;
  font-size: 25px;
  color: rgb(163, 25, 25);
  transition: 0.3s ease;
  padding: 10px 10px;
  border: 1px solid; /* Ajouter une bordure */
 border-radius: 5px; /* Ajouter des coins arrondis */
}
.header ul li a:hover {
  color: #7bba4f;
  /*background-color: brown;  Changer la couleur de la bordure au survol */
}

/* Style principal */
.main h2 {
  color: rgb(163, 25, 25);
  font-size: 50px;
  padding: 20px;
}

.main .section {
  padding: 20px;
}

.main .section p {
  font-size: 30px;
  text-align: center;
}

.bouton a {
  transition: 0.3s ease;
}

.a:hover {
  background-color: white;
}

/* Style de la galerie d'images */
.image-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image-row img {
  width: 25%;
  margin: 10px;
  max-width: 100%; /* Pour que les images ne dépassent pas de leur conteneur */
  height: auto; /* Pour conserver le ratio d'aspect des images */
}

.retour {
  text-align: center;
  margin: 20px 0;
}

.retour a {
  border: 1px solid;
  background-color: rgb(65, 133, 53);
  border-radius: 10px;
  font-size: 30px;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
}

.retour a:hover {
  background-color: #7bba4f;
  color: white;
}

/* Style du pied de page */
.footer {
  background-color: #ad8484;
  text-align: center;
  color: #070606;
  padding: 30px;
}

.icon a {
  color: #0e0c0c;
  margin: 0 10px;
  font-size: 24px;
}

/* Media queries pour les écrans de taille moyenne */
@media (max-width: 768px) {
  .header h1 {
    font-size: 40px;
    padding: 30px;
  }
  .header ul {
    flex-direction: column;
    position: static; /* Positionner normalement pour les écrans de taille moyenne */
    margin-top: 20px; /* Ajouter un espace au-dessus */
  }
  .header ul li {
    margin: 10px 0;
  }
  .header ul li a {
    font-size: 30px;
  }
  .main h2 {
    font-size: 30px;
    text-align: center;
  }
  .image-row img {
    width: 50%;
  }
}

/* Media queries pour les petits écrans */
@media (max-width: 490px) {
  .header .logo img {
    float: none;
    display: block;
    margin: 0 auto;
    max-width: 90px;
    height: 80px;
  }
  .header{
    width: 100%;
    height: 400px;
  }
  .header h1 {
    font-size: 22px;
    padding: 20px;
    text-align: center;
  }
  .header ul {
    padding: 2px;
    position: static; /* Positionner normalement pour les petits écrans */
    margin-top: 7px; /* Ajouter un espace au-dessus */
  }
  .header ul li {
    margin: 5px 5px; /* Assurer un espacement suffisant */
  }
  .header ul li a {
    font-size: 15px;
    margin: 7px 0; /* Ajouter de l'espacement vertical entre les liens */
    display: block; /* Chaque lien prend toute la largeur disponible */
    text-align: center; /* Centrer le texte des liens */
  }
  .main h2 {
    font-size: 25px;
    text-align: center;
  }
  .main p{
    font-size: 15px;
  }
  .image-row img {
    width: 100%;
  }
}
